*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.heading{
    font-size:50px ;
}
 .container{
    background-color: #16515b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    width: 60%;
}